# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# Data
data/raw/replays/*.rofl
data/parsed/*.json
data/ml/*.npz
data/ml/*.npy

# Models
models/trained/*.h5
models/trained/*.keras

# Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Rust
/ROFL/target/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

*.txt